{
  "parser": "babel-eslint",
  "extends": ["airbnb-base", "prettier", "plugin:prettier/recommended"],
  "rules": {
    "prettier/prettier": ["error", {
      "singleQuote": true
    }],
    "no-console":0,
    "linebreak-style": 0,
    "max-classes-per-file": ["error", 3]
  },
  "globals": {
    "document": true,
    "window": true,
    "fetch": true
  },
  "plugins": ["jest", "prettier"],
  "env": {
    "jest/globals": true
  }
}