<div class="col-6">
  <div class="input-group">
    <select class="form-select calendar__filter" id="filterUsers" aria-label="Example select with button addon">
      <option selected>Select participant...</option>
    </select>
    <button class="btn btn-outline-secondary" type="button"><i class="bi bi-search font-icons"></i></button>
  </div>
</div>
<div class="col-6">
  <a href="create.html" class="btn btn-outline-primary w-100">New Event <i class="bi bi-calendar-plus font-icons"></i></a>
</div>
