<div class="col">
  <div class="input-group">
    <select class="form-select calendar__filter" id="filterUsers">
    </select>
  </div>
</div>
<div class="col" id="create-event-btn-wrapp">
  <a href="create-event.html" class="btn btn-outline-primary w-100">New Event <i class="bi bi-calendar-plus font-icon"></i></a>
</div>
