<table class="table table-bordered calendar" id="calendar">
  <thead class="calendar__head">
    <tr class="text-center">
      <th scope="col">Time</th>
      <% for (let title of CALENDAR.days) { %>
        <th scope="col" class="calendar__col"><%= title.slice(0, 3) %></th>
      <% } %>
    </tr>
  </thead>
  <tbody class="calendar__body">
    <% for (let time of CALENDAR.times) { %>
      <tr>
        <th scope="row"><%= time %></th>
        <% for (let title of CALENDAR.days) { %>
          <td data-day="<%= title.slice(0, 3) %>" data-time="<%= time %>"></td>
        <% } %> 
      </tr>
    <% } %>
  </tbody>
</table>