<div class="card p-5">
  <div class="row">
    <div class="col-8">
      <h3>Form</h3>
      <%= include('create-event-form', {CALENDAR}) %>
    </div>
    <div class="col-4">
      <h3>Users</h3>
      <div class="users__cover">
        <div class="users__wrapp"></div>
      </div>
    </div>
  </div>
</div>
<div class="row pt-4">
  <div class="col-6"></div>
  <div class="col-3">
    <a href="index.html" class="btn btn-outline-secondary w-100">Cancel</i></a>
  </div>
  <div class="col-3">
    <button id="create-event-submit" class="btn btn-success w-100" >Submit Event</button>
  </div>
</div>