<form id="create-event-form" novalidate>

  <div class="mb-3 row">
    <label for="event-name" class="col-sm-3 col-form-label">Name of the event:</label>
    <div class="col-sm-9">
      <input type="text" class="form-control form-input" id="event-name" name="title" placeholder="Type the name of the event...">
      <div></div>
    </div>
  </div>
  <div class="mb-3 row">
    <label for="event-day" class="col-sm-3 col-form-label">Day:</label>
    <div class="col-sm-9">
      <select class="form-select form-input" id="event-day" name="day">
        <option selected value="">Select weekday</option>
        <% for (let title of CALENDAR.days) { %>
          <option value="<%= title.slice(0, 3) %>"><%= title %></option>
          <% } %>
        </select>
        <div></div>
      </div>
    </div>
    <div class="mb-3 row">
      <label for="event-time" class="col-sm-3 col-form-label">Time:</label>
      <div class="col-sm-9">
        <select class="form-select form-input" id="event-time" name="time">
          <option selected value="">Select time</option>
          <% for (let time of CALENDAR.times) { %>
            <option><%= time %></option>
            <% } %>
          </select>
          <div></div>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="event-participants" class="col-sm-3 col-form-label">Participants:</label>
        <div class="col-sm-9">
          <div class="w-100 d-flex flex-wrap participants">
          </div>
        </div>
      </div>
    </form>