<div class="card p-5">
  <div class="row">
    <div class="col-8">
      <%= include('create-event-form', {CALENDAR}) %>
    </div>
    <div class="col-4">
      <label class="col-sm-3 col-form-label">Participants:</label>
      <div class="participants__wrapp">
        <div class="card participant p-3 mb-3">
          <div class="row">
            <div class="col-3">
              <img src="/img/boy_1.png" alt="" class="participant__avatar border rounded-circle w-100">
            </div>
            <div class="col-7 d-flex flex-column justify-content-center">
              <span class="participant__name">Mary</span>
            </div>
            <div class="col-2 d-flex flex-column justify-content-center">
              <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="Mary">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row pt-4">
  <div class="col-6"></div>
  <div class="col-3">
    <a href="index.html" class="btn btn-outline-secondary w-100">Cancel</i></a>
  </div>
  <div class="col-3">
    <button class="btn btn-success w-100">Submit Event</button>
  </div>
</div>