<div class="mb-3 row">
  <label for="event-name" class="col-sm-3 col-form-label">Name of the event:</label>
  <div class="col-sm-9">
    <input type="text" class="form-control" id="event-name" placeholder="Type the name of event...">
  </div>
</div>
<div class="mb-3 row">
  <label for="event-day" class="col-sm-3 col-form-label">Day:</label>
  <div class="col-sm-9">
    <select class="form-select" id="event-day">
      <option selected value="">Select weekday</option>
      <% for (let title of CALENDAR.days) { %>
        <option value="Mon"><%= title %></option>
      <% } %>
    </select>
  </div>
</div>
<div class="mb-3 row">
  <label for="event-time" class="col-sm-3 col-form-label">Time:</label>
  <div class="col-sm-9">
    <select class="form-select" id="event-time">
      <option selected value="">Select time</option>
      <% for (let time of CALENDAR.times) { %>
        <option><%= time %></option>
      <% } %>
    </select>
  </div>
</div>
<div class="mb-3 row">
  <label for="event-participants" class="col-sm-3 col-form-label">Participants:</label>
  <div class="col-sm-9">
    <div class="w-100 d-flex flex-wrap participants__wrapp">
      
    </div>
  </div>
</div>