<% 
  function include(component, vars) {
    return require(`./views/${component}.ejs`)({...{include}, ...vars})
  }
%> 

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <div class="container-fluid p-5">
    <h1><%= htmlWebpackPlugin.options.title %></h1>
    <div class="row">
      <%= include('calendar', {a:1}) %>
    </div>
  </div>
</body>
</html>