$enable-gradients: true;
@import "../node_modules/bootstrap/scss/bootstrap";


* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafafa;
}

.font-icons {
  font-size: .9em;
  vertical-align: 2px;
}

@import './scss/calendar.scss';