@import "../node_modules/bootstrap/scss/bootstrap";
@import "./scss/variables";

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $bg-color;
}

.font-icon {
  font-size: .9em;
  vertical-align: 2px;
}

@import './scss/calendar.scss', './scss/create-event.scss', './scss/alerts.scss', './scss/admin.scss';