.alert__wrapp {
  @extend .d-flex, .justify-content-center, .flex-column;

  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $alert-wrapp-color;
  backdrop-filter: blur(4px);
  z-index: 999;

  &.top {
    height: 20%;
    background: linear-gradient(to top, transparent, $alert-wrapp-color);

    .alert {
      width: 90%;
      border-radius: 0;
      top: 0;
    }
  }
}

.alert {
  margin: 0 auto;
  font-size: 1.2em;

  .col-1 {
    text-align: right;
  }

  &.top {
    border-radius: 0;
  }
}
