.alert {

  &.card {
    margin: 0 auto;
  }

  &__wrapp {
    @extend .d-flex, .justify-content-center, .flex-column;

    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $alert-wrapp-color;
    z-index: 999;
  }
}