@import "./variables";

#create-event-btn-wrapp {
  display: none;
}

.calendar {
  background-color: #fff;

  &__head {
    background: $light;
  }

  &__body tr {
    td {
      height: 80px;
    }

    th:first-child {
      text-align: center;
      padding-top: 14px;
    }
  }

  &__col {
    width: 18%;
  }

  &__card {
    cursor: grab;
    padding: 5px;
    height: 100%;
    background: $card-color;

    &:hover {
      & .calendar__btn_close {
        opacity: 0.5;
      }

      & .card__avatar {
        margin-right: -5px;
      }
    }

    &.dragged {
      opacity: 0.5;
    }

    &.floating {
      cursor: grabbing;
      position: absolute;
      z-index: 990;
    }
  }

  &__btn {
    &_close {
      @extend %transition;
      opacity: 0;
      position: absolute;
      right: 5px;
      top: calc(50% - 8.5px);
      box-sizing: border-box;
      width: 15px;
      height: 15px;
    }
  }

  &__filter {
    @extend %appearance;
  }
}

td.put {
  &.allow {
    outline: 4px dashed $card-color;
  }

  &.disallow {
    outline-color: none;
    background-color: lighten($danger, 35%);

    .card {
      opacity: 0.3;
    }
  }
}

.card {
  &__title {
    color: $card-color--darken;
    font-weight: bold;
    line-height: 1em;
  }

  &__avatar {
    cursor: default;
    @extend %transition;
    position: relative;
    width: 25px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid $card-color;
    margin-right: -10px;
    z-index: 1;

    &:hover {
      z-index: 2;
      transform: scale(1.2);
    }

    &:active {
      opacity: 1;
    }
  }
}
