.form-input {
  @extend %appearance;
}

.user {
  cursor: pointer;
  padding: 10px;
  margin-bottom: 10px;

  &s__cover {
    height: 320px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 10px;

    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background: rgba(136, 136, 136, 0.3);
    }
    &::-webkit-scrollbar-thumb:hover {
      background: rgba(136, 136, 136, 0.8);
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.participant {
  @extend .d-flex, .justify-content-center, .flex-column, .align-items-center;
  position: relative;
  margin-right: -10px;

  &__avatar {
    @extend .rounded-circle;
    width: 65px;
    max-height: 65px;
    border: 3px solid $primary;
    background: #fff;
  }

  &__name {
    font-weight: bold;
    font-size: 0.8em;
  }

  &s.is-invalid h5 {
    @extend .text-danger;
    text-decoration: underline;
  }

  &__btn-remove {
    opacity: 0;
    position: absolute;
    width: 7px;
    height: 7px;
    top: 0;
    right: 0;
    background-color: #ffffff;
    background-size: 90%;
    border-radius: 50%;
  }

  &:hover {
    z-index: 100;

    & .participant__btn-remove {
      opacity: 0.5;

      &:active {
        opacity: 1;
      }
    }
  }
}
